@model ErrorViewModel

@{

    ViewBag.Title = "Error";
    var thingie = Model;

}
<br /><br /><br />
<br />


@if (ViewBag.ErrorMessage != null)
{
    <h3>@ViewBag.ErrorMessage</h3>
}
else
{
    <h3>Er is iets fout gegaan in de applicatie.</h3>
}

<h4>@Html.ActionLink("Probeer opnieuw een melding te maken.", "Index")</h4>

<br />
@{
    var st = Model.StackTrace;
    st = Html.Encode(st);
    st = st.Replace(Environment.NewLine, "<br>");
}
<pre>
@Model.Message
@Model.ExceptionMessage
@Model.ExceptionType
@Html.Raw(st);
</pre>